@charset "UTF-8";
*{
	margin: 0; 
	padding: 0; 
	box-sizing: border-box;
}
.container {
        width: 100vw;
        height: 100vh;
        flex-direction: row;
        justify-content: center;
        align-items: center
}

.rodape{
	color: #fff;
	background-color: #000000;
	text-align: center;
	font-size: 1.25em;
	padding: 10px;
	bottom:0;
    position: fixed;
    width: 100%;
    text-align: center;
}
